.habi-box {
    h5 {
        margin-bottom: 5px;
    }
    p {
        margin: 0px;
    }
    .progress-bar {
        text-align: right;
        padding-right: 10px;
        padding-top: 4px;
        font-weight: bold;

    }
}
.logo-her {
    max-width: 60px;
}