// Global styling for this template

html,
body {
    width: 100%;
    font-size: 16px;
}
html {
    min-height: 100%;
    position: relative;
}

body {
    @include main-font;
    margin-bottom: 60px;
    background-image: url("../images/punto-body.png");
}
body > .container {
  padding: 0 15px 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #1e1e1e;
  color: #4C4A4C;
}


hr {
    // max-width: 50px;
    border-width: 2px;
    border-color:#ccc;
    border-style: dotted;
}

hr.light {
    border-color: white;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, .1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include main-font;
    font-weight: 700;
    color: #2d3038;
    margin-bottom: 1.2rem;
}
.tituPrin {
  color: $red-base;
  font-size: 2rem;
  position: relative;
  margin-top: 1.5rem;
//   left: -27px;
  &--C-Yellow {
    color: $yelow-base;
  &:after {
    content: url(../images/lineaTexto-b.svg);
    position: absolute;
    bottom: -15px;
  }
  &:before {
    content: url(../images/lineaTexto-T.svg);
    left: 2px;
    top: -22px;
    position: relative;
  }
  }
  &:after {
    content: url(../images/lineaTexto-b.svg);
    position: absolute;
    bottom: -15px;
  }
  &:before {
    content: url(../images/lineaTexto-T.svg);
    left: 2px;
    top: -22px;
    position: relative;
  }
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    @include main-font;
    text-align: justify;
}

.bg-primary {
    background-color: $theme-primary !important;
}
// botones secundarios
// button-variant-gene($color, $background, $border, $border-radius, $font-side)
.btn-AppB {
    @include button-variant-gene(#000 , $white-base, $white-base, 5px, 14px);
}
.btn-AppF {
    @include button-variant-gene(#fff, #000, $white-base, 5px, 1.25rem);
}
.btn-enviar {
    @include button-variant-gene(#fff, #000, #000, 5px, 1.25rem);
}
.btn-cancelar {
    @include button-variant-gene(#000, #fff, #fff, 5px, 1.25rem);
}
.btn-AppIn {
    @include button-variant-gene(#000 !important, #fff, $white-base, 5px, 1.25rem);
    padding: 9px 48px 9px ;
}
.btn-termino {
    @include button-variant-gene(#fff, transparent, $white-base, 5px,  0.75rem);
    padding: 5px ;
}
.btn-general {
     @include button-variant-gene(#fff, $blue-base, #000, 5px, 1.375rem);
     padding: 5px 20px;
}
// botones secundarios
.bg-dark {
    color: white;
    background-color: $black-darker !important;
}

.text-faded {
    color: fade-out(white, .3);
}

.section-heading {
    margin-top: 0;
}

.no-padding {
    padding: 0;
}

::-moz-selection {
    color: white;
    background: $black-darker;
    text-shadow: none;
}

::selection {
    color: white;
    background: $black-darker;
    text-shadow: none;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}


body {
    -webkit-tap-highlight-color: $black-darker;
}
.validateTips {
    text-align: center;
    color: #000;
    background: rgba(0, 0, 0, 0.1);
    border-radius:5px;
    font-size: 14px;
    font-weight: bold;

}
@media #{$information-phone} {
    html,
    body {
      font-size: 14px;
    }
}
.marTop--max {
}
.bg-info {
    background:linear-gradient(to right, lighten($black-base, 10%) , $black-base);
}

