// study
.infoStudy-U {
     @include flexbox();
     @include flex-wrap(wrap);    
     border: 3px solid #fff;
     padding: 10px;
     border-radius: 10px;
     max-width: 100%;
     margin-bottom: 20px;
     @include box-shadow (7px, 7px, 1px, 0px, rgba(50, 50, 50, 0.3), false);
     background:linear-gradient(5deg, #34c5ed, #1c68ff);// deg es el angulo de inclinacion /
 img {
     border-radius: 50%;
     max-width: 150px;
     width: 100%;
     display: inline-block;
     border: 2px solid #d2d2d2;
     @include box-shadow(0, 2px, 2px, 0, rgba(50, 50, 50, 0.40), false);
 }
 h2 {
   font-size: 2rem;
   font-weight:normal;
   color:#fff;
   line-height: 1;
   text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
   text-transform: uppercase;
     strong {
        font-size: 2.7rem;
        color:#fff;
        border-bottom: 2px solid #fff;
     }
 }
  p {
   color:#fff;
 }
}
// study
.infoStudy-U2 {
    margin-left: 28px;
    margin-top: 20px;
    padding-bottom: 20px;
    .card-title {
        font-size: 2rem;
        color: lighten($black-base, 10%);
        margin-bottom: 5px;
        strong {
            font-size: 3rem;
            color: $black-base;
        }
    }
    .card-text {
        font-size:1.125rem;
        color: #fff;
        background: $red-base;
        padding: 3px 7px;
        display: inline-block;
        max-width: 315px;
        width: 100%;
    }
}
.box-info__study {
    padding-top: 2.5rem;
 }
.img-computer {
    position: relative;
    top: -80px
}
// courses
.box-courses {
    h2 {
        background-color: $yelow-base;
        padding: 5px 15px;
        font-size: 1.375rem;
        color: $black-base;
        margin-bottom: 0;
        display: inline-block;
    }
    p {
        background-color: $white-base;
        padding: 10px 15px;
        color: $black-base;
        span {
            background-color: lighten($yelow-base, 9.2%);
        }
    }
}