// study
.infoStudy-U {
     @include flexbox();
     @include flex-wrap(wrap);    
     border: 3px solid #fff;
     padding: 10px;
     border-radius: 10px;
     max-width: 100%;
     margin-bottom: 20px;
     @include box-shadow (7px, 7px, 1px, 0px, rgba(50, 50, 50, 0.3), false);
     background:linear-gradient(5deg, #34c5ed, #1c68ff);// deg es el angulo de inclinacion /
 img {
     border-radius: 50%;
     max-width: 150px;
     width: 100%;
     display: inline-block;
     border: 2px solid #d2d2d2;
     @include box-shadow(0, 2px, 2px, 0, rgba(50, 50, 50, 0.40), false);
 }
 h2 {
   font-size: 2rem;
   font-weight:normal;
   color:#fff;
   line-height: 1;
   text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
     strong {
        font-size: 2.7rem;
        color:#fff;
        border-bottom: 2px solid #fff;
     }
 }
  p {
   color:#fff;
 }
}
// study