// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #FF1A41;

$yelow-base: #FCB21D !default;
$red-base: #FF1A41 !default;
$violeta-base: #e6003e !default;
$blue-base: #1D74FF !default;
$blueOsc-base: #184862 !default;
$blueCla-base: #339FD0 !default;
$green-base: #93e925 !default;
$white-base: #fff !default;
$gris-base: #6a717b !default;

$black-base:        #1e1e1e !default;
$black-darker:	   lighten($black-base, 13.5%) !default; // #222
$black-dark:	   lighten($black-base, 20%) !default;   // #333
$black:			   lighten($black-base, 33.5%) !default; // #555
$black-light:	   lighten($black-base, 46.7%) !default; // #777
$black-lighter:	   lighten($black-base, 93.5%) !default; // #eee


